@import "tailwindcss";

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #8a8989;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e2e2e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2b2b2b;
  }